*{
    padding: 0;
    margin: 0;
}

.jumbotron{
    padding-top: 6rem;
    background-color: #646464e5;
}

#projects{
    background-color: #646464e5;
    color: aliceblue;
}

section{
    padding-top: 5rem;
}

h1{
    color: aliceblue;
}

h4{
    color: aliceblue;
}

h5{
    color: black;
}
p{
    color: black;
}
